PORT=3000
BASE_URL=http://localhost:3000
FRONT_END_URL=http://localhost:5173

# MongoDB
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DB_NAME=invexfood
MONGODB_USER=
MONGODB_PASSWORD=

# JWT Secrets
JWT_SECRET=your-jwt-secret-key
JWT_TOKEN_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
JWT_FORGOT_EXPIRE=15m

# Super Admin Secret
# This is used to protect the POST /api/v1/auth/grant-access endpoint
# Only requests with header: x-super-admin-secret: <this value> will be allowed
SUPER_ADMIN_SECRET=your-super-strong-secret-here

# Email
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_ADDRESS=
EMAIL_PASSWORD=
